__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
ENV/

batches/
data_set/

gencad_images/
templates/
templates/minimal_json
outputs/py/*.py
outputs/step/*.step
outputs/json/*.json
outputs/logs/*.log

node_modules/
frontend/build/
frontend/dist/
backend/rag/batches
templates/txt
batches.zip

outputs/uploads
outputs/previews

.env
.env.local
*.log

.DS_Store0
Thumbs.db
*.swp
*.swo
*~

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

/train-00000-of-00002.parquet
/train-00001-of-00002.parquet